@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro");

:root {
  --primary: #e45617;
  --primaryLight: #dbbcaf;
  --primaryDark: #564031;

  --secondary: #636362;
  --secondaryLight: #9a9a9a;
  --secondaryDark: #1c1c1c;
}

img {
  pointer-events: none;
}

* {
  font-family: "Source Sans Pro", sans-serif;
}

/* .logo_blink_effect {
  animation: logo_blink 1500ms linear infinite;
}

@keyframes logo_blink {
  50% {
    opacity: 0;
  }
} */

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
